[submodule "extern/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/ZeCroque/CommonLibSSE.git
	branch = SQGLibPatchRebased
[submodule "DPF"]
	path = external/DPF
	url = https://github.com/ZeCroque/DPF-Dynamic-Persistent-Forms.git
	branch = libify
